# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Terraform variable files (often contain sensitive values)
*.tfvars
*.tfvars.json

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

